$bgColor: #DCDCDC;
$black: #000000;
$white: #FFFFFF;
$font-stack: Helvetica, sans-serif;
$center-text: center;
$center-item: auto;
$bold: 600;
$url-decoration: none;
$url-color: #1B0227;
$dark-gray: #404040;
$red: red;
